html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1.2rem;
  height: 100vh;
}

.left-container {
  background-color: #EFEFEF;
  border: 1px solid black;
  padding: 1rem;
}

.dropdown-container {
    width: 100%;
}