* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: hsl(211, 49%, 17%);
    color: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.topSection {
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
}

.bottomSection {
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

/* Button Section */

.blackBtn,
.whiteBtn {
    padding: 0.3rem;
    transition: all 200ms ease;
    background-color: hsl(0, 0%, 85%);
}

.blackBtn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    transform: scale(1.1);
    border-color: aqua;
}

.whiteBtn:hover {
    cursor: pointer;
    color: black;
    background-color: antiquewhite;
    transform: scale(1.1);
    border-color: crimson;
}

/* Bottom Section */

.leftBottomSection {
    /* border: 2px solid blue; */
    
}

.rightBottomSection {
    /* border: 2px solid red; */
}

/* Left Bottom Section */

/* .dropdown {
    position: relative;
} */

.dropdownBtn {
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;
    background-color: #00bdfcf9;
    transition: all 300ms ease;
}

.dropdownBtn:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.inputStyle {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.inputStyle input {
    padding: 0.7rem;
    height: 2rem;
    width: 20rem;
}